.shop-template {
	border: solid 2px var(--border-color);
	border-radius: 2px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}
.shop-template.is--active {
	border-color: var(--first-color);
	position: relative;
}
.shop-template.is--active:before {
	border-radius: 50%;
	content: "";
	background-color: var(--first-color);
	background-image: url(images/retina/checked.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:10px auto;
	width: 20px;
	height:20px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}
.shop-template p {
	text-align: center;
	margin: 0;
	display: block;
	padding: 5px 0;
}
