@media print {
html, body {
	width: auto;
}
a[href]:after {
	content: none !important;
}
 @page {
size: A4;
}
.no-print, .no-print * {
	display: none !important;
}
.grids--offset {
	margin: 0 -20px 20px;
}
.grids--offset .grid-layout {
	background: #f5f5f5;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px;
}
.grids--offset .grid-layout p {
	color: #555555;
	margin: 0 0 5px 0;
}
.grids--offset .grid-layout .info--order {
	text-align: right;
}
.grids--colum {
	margin: 10px 0 30px;
}
.grids--colum .grid {
	width: 100%;
	min-height: 200px;
	padding: 20px;
	border-radius: 3px;
	background: #f5f5f5;
}
.grids--colum .grid p {
	color: #555555;
}
.table .mergedcell {
	text-align: right;
}
.table .trLast td {
	font-weight: 700;
	font-size: 1.2em;
}
.col-lg-6 {
	float: left;
	width: 50%;
	text-align: left;
}
.grids--colum .grid {
	border: 1px solid #000;
	border-radius: 3px;
	min-height: 200px;
	padding: 20px;
	width: 100%;
}
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	display: table;
}
.table tr {
	display: table-row;
}
.table td, .table th {
	display: table-cell;
	vertical-align: top;
	padding: 10px;
	vertical-align: top;
	color: #999;
	text-align: left;
	border-bottom: 1px solid #eaeaea;
}
.table th {
	color: #4c4c4c;
	font-weight: 500;
}
.table td:first-child, .table th:first-child {
	padding-left: 0;
}
.pic--cell-left {
	width: 130px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.pic--cell-left + .item__description {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.table .item__description .item__title {
	display: block;
	max-width: 100%;
}
}
