.product-gallery {
    position: relative;
}

.slider-for img {
    margin: 0 auto;
    max-width: 100%;
}

.slider-nav {
    position: relative;
}

.slider-nav .slick-list {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.slider-nav .thumb {
    border: solid 1px var(--border-color);
    margin: 10px 15px;
    text-align: center;
}

.slider-nav .thumb img {
    max-width: 100%;
    margin: 0 auto;
}

.slider-nav .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    text-indent: -999999px;
    z-index: 1;
}

.slider-nav .slick-arrow:hover {
    background-color: var(--first-color);
}

.slider-nav .slick-prev,
.slider-nav .slick-next {}

.slider-nav .slick-prev:after,
.slider-nav .slick-next:after {
    content: "";
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -5px;
}

.slider-nav .slick-prev:after {
    transform: rotate(135deg);
    margin-left: -3px;
}

.slider-nav .slick-prev {
    left: 0%;
}

.slider-nav .slick-next {
    right: 0%;
}


/**/

.product-detail {
    /*border-left: solid 1px var(--border-color);*/
}

.select-color {
    margin: 10px 0;
}

.select-color li {
    display: inline-block;
    vertical-align: middle;
    border: dashed 1px var(--border-color);
    font-size: 16px;
    text-align: center;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
}

.select-color li.not--available {
    opacity: 0.45;
}

.select-color li.not--available:hover {
    border-color: inherit;
}

.select-color li span {
    display: block;
    width: 20px;
    height: 20px;
}

.select-color li.is--active {
    border-style: solid;
    border-color: var(--first-color);
    color: var(--first-color);
}

.select-color li.is--active a {
    color: inherit;
}

.select-color li:hover {
    border-color: var(--first-color);
}

.select-size {
    margin: 10px 0;
}

.select-size li {
    display: inline-block;
    vertical-align: middle;
    border: dashed 1px var(--border-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.select-size li span {
    display: block;
    /*	width: 20px;*/
    height: 20px;
}

.select-size li a {
    color: var(--txt-color-light);
}

.select-size li.is--active {
    border-style: solid;
    border-color: var(--first-color);
    color: var(--first-color);
}

.select-size li.is--active a {
    color: inherit;
}

.select-size li:hover {
    border-color: var(--first-color);
}

.detail_head {
    position: relative;
}

.detail_head .item-yk-head {
    height: auto;
}

.detail_head.item-yk .item-yk-head-title {
    font-size: 1.25em;
    max-width: 80%;
    white-space: normal;
}

.detail_head.item-yk .item-yk_rating {
    margin: 0 0 10px 0;
}

.detail_head.item-yk .collections-ui {
    bottom: auto;
    top: 0;
}

.detail_head.item-yk .product_price {
    font-size: 2.25em;
}

.detail_head.item-yk .bullet-list li {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.detail_head.item-yk .bullet-list li.link_li:before {
    content: normal;
    font-weight: 600;
}

.detail_head.item-yk .bullet-list li.link_li a {
    color: var(--second-color);
    font-weight: 600;
}

.buy-group .btn {
    margin: 10px 10px 10px 0;
    font-size: 1.3em;
    padding: 10px 25px;
}
.buy-group .btn i { margin-right: 5px;}

.cart-offer {
    background: #fff8da;
    color: var(--txt-color);
    font-weight: 300;
    line-height: 1.5;
}

.ftshops.seller--info .ftshops_item_head_left,
.ftshops.seller--info .ftshops_item_head_right {
    padding: 20px 0;
}

.ftshops.seller--info .ftshops_item_head {
    border-bottom: none;
}


/* cms-editor style */

.cms-editor {
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.cms-editor h1 {
    font-size: 1.8em;
    color: inherit;
    padding: 0 0 15px 0;
    font-weight: 600;
    line-height: 1;
}

.cms-editor h2 {
    font-size: 1.3em;
    color: var(--txt-color);
    padding: 10px 0;
    font-weight: 600;
    line-height: 1;
}

.cms-editor h3 {
    font-size: 1.2em;
    color: inherit;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.cms-editor h4 {
    color: #727272;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.cms-editor h5 {
    color: inherit;
    padding: 0 0 5px 0;
    font-weight: 600;
}

.cms-editor h6 {
    color: inherit;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.cms-editor p {
    padding: 0 0 15px 0;
    line-height: 1.5;
}

.cms-editor p a {}

.cms-editor p a:hover {
    color: #000;
}

.cms-editor p strong {}

.cms-editor ul {
    margin: 0 0 15px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.cms-editor ul li {
    list-style: inside;
    position: relative;
    padding: 0 20px 15px 20px;
    font-size: 15px;
}


/*
.cms-editor ul li:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 30px;
	background: #585757;
	left: 0;
	top: 6px;
	position: absolute;
}*/

.cms-editor ol {
    margin: 0 0 15px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.cms-editor ol li {
    list-style: decimal inside;
    font-size: 15px;
    color: #485458;
    margin: 0;
    padding: 0 0 10px 0;
}

.cms-editor .leftImg {
    float: left;
    margin: 0 20px 20px 0;
    padding: 4px;
    border: 1px solid #c6c6c6;
    border-bottom: 3px solid #c6c6c6;
}

.cms-editor .rightImg {
    float: right;
    margin: 0 0 20px 30px;
    padding: 4px;
    border: 1px solid #c6c6c6;
    border-bottom: 3px solid #c6c6c6;
}

.cms-editor img {
    border: 1px solid #c6c6c6;
}

.cms-editor .pcards {
    margin: 0 6px 0 0;
}

.cms-editor table {
    width: 100%;
}

.cms-editor table tr {
    border-bottom: solid 1px var(--border-color);
}

.cms-editor table tr:last-child {
    border: none;
}

.cms-editor table th {
    background: #ededed;
    color: #000;
    font-weight: 300;
}

.cms-editor table tr th,
.cms-editor table tr td {
    vertical-align: top;
    padding: 10px 15px;
}

.cms-editor table tr td:first-child {
    background: #f7f7f7;
    width: 30%;
}

.cms-editor table img {
    max-width: 100%;
}

.videowrap iframe {
    width: 100%;
}

.rating-circle {
    width: 180px;
    height: 180px;
    border: solid 1px var(--border-color);
    display: block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.rating-circle .item-yk_rating {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    height: auto;
}

.rating-circle .item-yk_rating .svg {
    height: auto;
    width: auto;
}

.rating-circle .item-yk_rating .svg svg {
    width: 36px;
    height: auto;
}

.rating-circle .item-yk_rating .rate {
    font-size: 3em;
    font-weight: 600;
    display: block;
}

.have-you {
    background: #f8f8f8;
    padding: 35px;
    text-align: center;
    display: inline-block;
    float: right;
}


/*

ul.tabs-js {
	overflow: hidden;	 
	 
}ul.tabs-js li {
	display: inline-block;
}
ul.tabs-js li a {
	position: relative;
	display: block;
	padding: 0;
	margin: 0 25px;
	text-align: center;
	color: #808080;
}
ul.tabs-js li:first-child a {
	padding-left: 0;
	margin-left: 0;
}
ul.tabs-js li:last-child a {
	padding-right: 0;
	margin-right: 0;
}
ul.tabs-js li a:hover {
	color: var(--second-color);
}
ul.tabs-js li a.active {
	color: var(--second-color);
	font-weight: 600;
}*/

.tabs-content {
    padding: 20px 0;
}

.tabs-content .tab-item {
    display: none;
}

.helpfull {
    margin-bottom: 50px;
}

.avatar {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}

.avatar.avatar--92 {
    width: 92px;
    height: 92px;
}

.avatar img {
    border-radius: 50%;
    max-width: 100%;
}

.user-detail {}

.user-detail .by-name {
    color: #808080;
    font-size: 0.9em;
    line-height: 1.5;
}

.verified {
    text-align: right;
}

.yes-no {
    margin: 15px 0;
}

.yes-no li {
    display: inline-block;
    color: #b2b2b2;
    vertical-align: top;
    margin-left: 15px;
}

.yes-no li a {
    color: inherit;
    display: block;
    font-weight: 300;
    font-size: 0.8em;
}

.yes-no li img {
    display: inline-block;
    vertical-align: top;
}

.search-question {
    background: #f7f7f7;
}

.search-question input[type="text"] {
    border: none;
    background: none;
    border-radius: 0;
    width: calc(100% - 59px);
    vertical-align: top;
}

.search-question input[type="submit"] {
    border: none;
    background: url(images/retina/search.svg) no-repeat center;
    border-radius: 0;
    width: 49px;
    height: 40px;
    vertical-align: top;
}

.faq-list {}

.faq-list .yes-no {
    float: right;
}

.qs-ans li {
    position: relative;
    margin: 10px;
    display: block;
}

.qs-ans li.question span,
.qs-ans li.answer span {
    color: #b2b2b2;
    font-weight: 600;
    display: inline-block;
    width: 126px;
    float: left;
}

.qs-ans li.question {
    font-size: 1.2em;
    font-weight: 600;
}

.qs-ans li p {
    margin-left: 126px;
}

.social-networks {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /* stops flickering */
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: -70px;
    top: 100%;
    background: #fff;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.social-networks.open-menu,
.no-js .social-networks {
    -webkit-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    opacity: 1;
}

.social-networks ul {
    display: inline-block;
    white-space: nowrap;
}

.social-networks ul li:first-child {
    padding-right: 0;
}

.free-delivery {
    line-height: 50px;
}

.fixed__panel .stick {
    position: fixed;
    width: 310px;
}

.detail_head.item-yk .collection-wrapper .collection__container {
    top: 100%;
    bottom: auto;
}

.detail_head.item-yk .collection-wrapper .collection__container.open-menu {
    -webkit-transform: scale(1) translateY(10px);
    transform: scale(1) translateY(10px);
}

.form__group--qty {
    border: solid 1px var(--border-color);
    padding: 15px 20px;
    width: auto;
    display: block;
    /*display: inline-block;*/
}

.qty__value .item__price {
    font-size: 1em;
    font-weight: normal;
    display: block;
    color: #000;
}

.qty__value .item__price--old {
    font-size: 1em;
    font-weight: normal;
    text-decoration: line-through;
}

.selector-container {
    margin: 0 0 0 -5px;
    overflow: hidden;
}

.selector--qty {
    padding: 0 27px 0 0;
    position: relative;
}

.selector--qty li {
    margin: 0;
}

.selector--qty .qty__value {
    display: block;
    background: #f9f9f9;
    display: block;
    margin: 5px;
    padding: 20px;
}

.selector--qty .slick-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.selector--qty .slick-arrow:active {
    background: rgba(0, 0, 0, 0.05);
}

.selector--qty .slick-arrow.slick-next {
    right: -5px;
    top: 5px;
}

.selector--qty .slick-arrow.slick-next:before {
    position: absolute;
    left: 8px;
    top: 10px;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.selector--qty .slick-arrow.slick-prev {
    right: -5px;
    bottom: 5px;
}

.selector--qty .slick-arrow.slick-prev:before {
    position: absolute;
    left: 12px;
    top: 10px;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.selector--qty .slick-arrow.slick-disabled {
    opacity: 0.2;
    cursor: default;
}

.details__body {
    position: relative;
}

.img-static-scroll {
    position: fixed;
    left: auto;
    background: #fff;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    /* width: 480px ; */
}

.img-absolute-scroll {
    position: absolute;
    bottom: 0;
    top: auto !important;
}

.cod-txt {
    color: var(--second-color);
}

.addon--tag--soldout {
    color: var(--first-color);
    font-weight: 600;
}


/*mobile*/

@media only screen and (max-width: 767px) {
    .product-detail {
        border-left: none;
    }
    .rating-circle {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .have-you {
        float: none;
        display: block;
    }
    ul.tabs {
        position: relative;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    ul.tabs:after {
        background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        content: "";
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
        height: 100%;
        display: block;
    }
    ul.tabs li {
        display: inline-block;
        white-space: nowrap;
    }
    .tabs-content {
        padding: 10px 0;
    }
    .avatar {
        margin: 10px 0;
    }
    .verified {
        text-align: left;
    }
    .qs-ans li.question span,
    .qs-ans li.answer span {
        width: 100%;
        display: block;
        float: none;
    }
    .qs-ans li p {
        margin-left: 0;
    }
    .detail_head.item-yk .item-yk-head-title {
        max-width: none;
    }
    .detail_head.item-yk .collections-ui {
        position: static;
    }
}

@media only screen and (max-width: 1025px) {
    .buy-group .btn {
        padding-right: 20px;
        padding-left: 20px;
    }
    .img-static-scroll {
        position: static;
        box-shadow: none;
        width: auto;
    }
}
