.shop-bar {
	border-bottom: none;
}
.bg--shop {
	background: url(../images/shop-5-bg.jpg) repeat 0 0;
}
.shop-header {
}
.shop-logo {
	margin: 20px auto;
	padding: 0;
	text-align: center;
	display: block;
	overflow: hidden;
	position: relative;
	height: 70px;
}
.shop-logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}
.shops-sliders {
	text-align: center;
	position: relative;
	clear: both;
}
.shops-sliders img {
	text-align: center;
	margin: 0 auto;
}
.shops-sliders .slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-color: rgba(255,255,255,0.6);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	text-indent: -999999px;
	z-index: 1;
}
.shops-sliders .slick-arrow:hover {
	background-color: rgba(255,255,255,1);
}
.shops-sliders .slick-prev, .shops-sliders .slick-next {
}
.shops-sliders .slick-prev:after, .shops-sliders .slick-next:after {
	content: "";
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	position: absolute;
	left: 50%;
	margin-left: -7px;
	top: 50%;
	margin-top: -5px;
}
.shops-sliders .slick-prev:after {
	transform: rotate(135deg);
	margin-left: -3px;
}
.shops-sliders .slick-prev {
	left: 50%;
	margin-left: -650px;
}
.shops-sliders .slick-next {
	right: 50%;
	margin-right: -650px;
}
.product-search {
	float: right;
	margin: 40px auto;
}
.product-search input[type="text"] {
	background: none;
	border: none;
	color: #fff;
}
.product-search .input-field {
	background: none;
	border: none;
	font-weight: 300;
	vertical-align: middle;
	color: #fff;
	float: none;
	display: inline-block;
	width: auto;
	height: 20px;
}
.product-search .input-submit {
	background: url(../images/retina/magni.svg) no-repeat 0 0;
	background-size: 100% auto;
	width: 20px;
	height: 20px;
	border: none;
	padding: 0;
	margin: 0;
	float: left;
}
.shop-nav-bar {
	background-color: #174a67;
}
/*custom shop nav*/
.shop-nav {
	position: relative;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	float: left;
	margin-top: 20px;
}
.shop_nav_show .common_overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
.shop-navigations {
	margin: 0 auto;
	display: table;
}
.shop-navigations > li {
	display: inline-block;
	vertical-align: top;
}
.shop-navigations > li.is--active a {
	font-weight: 600;
}
.shop-navigations > li:last-child a {
	padding-right: 0;
}
.shop-navigations > li:hover > a {
}
.shop-navigations > li > a {
	color: #fff;
	display: block;
	overflow: hidden;
	padding: 25px 20px;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}
.shop-navigations > li > a:hover {
}
.shop-navigations > li .shop_link__mobilenav {
	display: none;
}
.shop-navigations > li .subnav {
	display: block;
}
.shop-navigations > li.active .subnav {
	display: block;
}
.shop-navigations > li.active .subnav__wrapper, .shop-navigations > li.active .arrow {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0.15s; /* Safari */
	transition-delay: 0.15s;
}
.shop-navigations > li .arrow {
	display: inline-block;
	height: 0px;
	opacity: 0;
	position: relative;
	top: -8px;
	visibility: hidden;
	width: 100%;
	z-index: 11;
}
.shop-navigations > li .arrow span::before {
	border-bottom: 12px solid #f67c17;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";
	left: 50%;
	margin: 0 0 0 -14px;
	position: absolute;
	top: 0;
}
.shop-navigations > li .arrow span::after {
	border-bottom: 12px solid #fff;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";
	left: 50%;
	margin: 0 0 0 -14px;
	position: absolute;
	top: 1px;
}
.shop-navigations > li .subnav__wrapper {
	background: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	visibility: hidden;
	width: 100%;
	z-index: 2;
}
/*Nav mobile toggle*/
.shop_navs_toggle {
	cursor: pointer;
	display: none;
	height: 30px;
	line-height: 1;
	width: 30px;
	z-index: 1;
	float: left;
	margin-top: 25px;
	margin-right: 20px;
}
.shop_navs_toggle span {
	background: #fff;
	display: block;
	height: 3px;
	margin: 14px 0 0;
	position: relative;
	width: 100%;
}
.shop_navs_toggle span:before {
	background: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: -7px;
	width: 100%;
}
.shop_navs_toggle span:after {
	background: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	bottom: -7px;
	width: 100%;
}


/*tablet*/
 @media only screen and (max-width:1025px) {
/*Navigation*/
.shop_navs_toggle {
	display: inline-block;
}
body.toggled_shop-nav .common_overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
body.toggled_shop-nav .shop-nav {
	opacity: 1;
	transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	webkit-transform: translate(0px, 0px);
}
.shop-nav {
	margin: 0;
	background: var(--first-color);
	bottom: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: 0;
	position: fixed;
	top: 0;
	transform: translate(-100%, 0px);
	-moz-transform: translate(-100%, 0px);
	-webkit-transform: translate(-100%, 0px);
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	width: 260px;
	z-index: 110;
}
.shop-nav .fixed-container {
	padding: 0;
}
.shop-navigations {
	margin: 0;
	width: 100%;
}
.shop-navigations > li {
	display: block;
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
.shop-navigations > li > a {
	text-align: left;
	display: block;
	padding: 12px;
	position: relative;
	overflow: visible;
}
.shop-navigations > li > a:after, .shop-navigations > li > a:before {
	content: "";
}
.shop-navigations > li .shop_link__mobilenav.active:after {
	display: none;
}
.shop-navigations > li .shop_link__mobilenav {
	bottom: 0;
	cursor: pointer;
	display: block;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	visibility: visible;
	width: 40px;
	z-index: 1;
}
.shop-navigations > li .shop_link__mobilenav:before {
	background: #fff;
	content: "";
	height: 2px;
	left: 14px;
	position: absolute;
	top: 20px;
	width: 12px;
}
.shop-navigations > li .shop_link__mobilenav:after {
	background: #fff;
	content: "";
	height: 2px;
	left: 14px;
	position: absolute;
	top: 20px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 12px;
}
.shop-navigations > li .subnav {
	display: none;
	position: relative;
	width: 100%;
}
.shop-navigations > li .arrow {
	display: none;
}
.shop-navigations > li .subnav__wrapper {
	background: #fff;
	border-top: medium none;
	box-shadow: none;
	display: inline-block;
	opacity: 1;
	position: relative;
	top: 0;
	visibility: visible;
	width: 100%;
}
.subnav__wrapper .fixed-container, .shop-navigations > li .subnav__wrapper.addspace {
	padding: 0;
}
}

/*custom shop nav end*/
 @media only screen and (max-width: 1025px) {
.shop-opened {
	text-align: left;
}
.shop-header {
	margin-bottom: 0;
}
.shop-logo {
	text-align: center;
	display: block;
}
.product-search {
	float: right;
	margin: 31px 0;
}
.shops-sliders .slick-prev {
	left: 10px;
	margin-left: 0;
}
.shops-sliders .slick-next {
	right: 0;
	margin-right: 0;
}
}
 @media only screen and (max-width: 767px) {
.product-search {
	float: none;
	margin: 5px auto;
	display: table;
}
.shops-sliders .slick-arrow {
	width: 30px;
	height: 30px;
}
}
