/* CSS Document */



.cart--full {
	width: 100%;
}
.cart--full .product-img {
	max-width: 150px;
}
.cart--full tr {
	border-bottom: solid 1px var(--border-color);
}
.cart--full th {
	background: #ededed;
	color: #000;
	font-weight: 300;
}
.cart--full th, .cart--full td {
	vertical-align: top;
	padding: 20px 15px;
}
.cart--full .product-img img {
	max-width: 100%;
}
.delv, .qnt {
	width: auto;
}
.note {
	font-weight: 300;
	margin-top: 10px;
	display: block;
}
.cart-footer {
	display: table;
	width: 100%;
}
.cart-advices {
	float: left;
	padding: 10px 20px;
	width: 65%;
}
.cart-advices {
}
.cart-footer .cartdetail__footer {
	background: none;
	float: right;
	width: 35%;
}

.cart-footer .cartdetail__footer, .cart-advices {
	 width: 50%;
}

.actions{ white-space: nowrap;}

 @media only screen and (max-width: 767px) {
/*cart-page*/
.tbl-heading {
	padding: 10px;
}
.cart--full {
}
.cart--full thead {
	display: none;
}
.cart--full th, .cart--full td {
	/*display: block;*/
	padding: 10px;
}
.cart--full .product-img {
	margin: 0 auto;
}
.cart-footer .cartdetail__footer, .cart-advices {
	float: none;
	width: auto;
	display: block;
	padding: 10px;
}
.cart-footer .cartdetail__footer .delv {
	width: auto;
}
.delv {
	width: 100%;
}
}
@media only screen and (max-width: 1025px) {
.hide--desktop {
	display: none;
}
}
/*empty cart*/


.empty-cart {
	margin: 30px auto;
	text-align: center;
	max-width: 450px;
}
svg #oval, svg #plus, svg #diamond, svg #bubble-rounded {
	-webkit-animation: plopp 4s ease-out infinite;
	animation: plopp 4s ease-out infinite;
}
svg #oval:nth-child(1), svg #plus:nth-child(1), svg #diamond:nth-child(1), svg #bubble-rounded:nth-child(1) {
	-webkit-animation-delay: -240ms;
	animation-delay: -240ms;
}
svg #oval:nth-child(2), svg #plus:nth-child(2), svg #diamond:nth-child(2), svg #bubble-rounded:nth-child(2) {
	-webkit-animation-delay: -480ms;
	animation-delay: -480ms;
}
svg #oval:nth-child(3), svg #plus:nth-child(3), svg #diamond:nth-child(3), svg #bubble-rounded:nth-child(3) {
	-webkit-animation-delay: -720ms;
	animation-delay: -720ms;
}
svg #oval:nth-child(4), svg #plus:nth-child(4), svg #diamond:nth-child(4), svg #bubble-rounded:nth-child(4) {
	-webkit-animation-delay: -960ms;
	animation-delay: -960ms;
}
svg #oval:nth-child(5), svg #plus:nth-child(5), svg #diamond:nth-child(5), svg #bubble-rounded:nth-child(5) {
	-webkit-animation-delay: -1200ms;
	animation-delay: -1200ms;
}
svg #oval:nth-child(6), svg #plus:nth-child(6), svg #diamond:nth-child(6), svg #bubble-rounded:nth-child(6) {
	-webkit-animation-delay: -1440ms;
	animation-delay: -1440ms;
}
svg #oval:nth-child(7), svg #plus:nth-child(7), svg #diamond:nth-child(7), svg #bubble-rounded:nth-child(7) {
	-webkit-animation-delay: -1680ms;
	animation-delay: -1680ms;
}
svg #oval:nth-child(8), svg #plus:nth-child(8), svg #diamond:nth-child(8), svg #bubble-rounded:nth-child(8) {
	-webkit-animation-delay: -1920ms;
	animation-delay: -1920ms;
}
svg #oval:nth-child(9), svg #plus:nth-child(9), svg #diamond:nth-child(9), svg #bubble-rounded:nth-child(9) {
	-webkit-animation-delay: -2160ms;
	animation-delay: -2160ms;
}
svg #oval:nth-child(10), svg #plus:nth-child(10), svg #diamond:nth-child(10), svg #bubble-rounded:nth-child(10) {
	-webkit-animation-delay: -2400ms;
	animation-delay: -2400ms;
}
svg #oval:nth-child(11), svg #plus:nth-child(11), svg #diamond:nth-child(11), svg #bubble-rounded:nth-child(11) {
	-webkit-animation-delay: -2640ms;
	animation-delay: -2640ms;
}
svg #oval:nth-child(12), svg #plus:nth-child(12), svg #diamond:nth-child(12), svg #bubble-rounded:nth-child(12) {
	-webkit-animation-delay: -2880ms;
	animation-delay: -2880ms;
}
svg #oval:nth-child(13), svg #plus:nth-child(13), svg #diamond:nth-child(13), svg #bubble-rounded:nth-child(13) {
	-webkit-animation-delay: -3120ms;
	animation-delay: -3120ms;
}
svg #oval:nth-child(14), svg #plus:nth-child(14), svg #diamond:nth-child(14), svg #bubble-rounded:nth-child(14) {
	-webkit-animation-delay: -3360ms;
	animation-delay: -3360ms;
}
svg #oval:nth-child(15), svg #plus:nth-child(15), svg #diamond:nth-child(15), svg #bubble-rounded:nth-child(15) {
	-webkit-animation-delay: -3600ms;
	animation-delay: -3600ms;
}
svg #oval:nth-child(16), svg #plus:nth-child(16), svg #diamond:nth-child(16), svg #bubble-rounded:nth-child(16) {
	-webkit-animation-delay: -3840ms;
	animation-delay: -3840ms;
}
svg #bg-line {
	-webkit-animation: float 20s ease infinite;
	animation: float 20s ease infinite;
}
svg #bg-line:nth-child(2) {
	-webkit-animation-delay: 1200ms;
	animation-delay: 1200ms;
	fill-opacity: 0.3;
}
svg #bg-line:nth-child(3) {
	-webkit-animation-delay: 850ms;
	animation-delay: 850ms;
	fill-opacity: 0.4;
}
@-webkit-keyframes plopp {
 0% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
 opacity: 1;
}
 100% {
 -webkit-transform: translate(0, -10px);
 transform: translate(0, -10px);
 opacity: 0;
}
}
@keyframes plopp {
 0% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
 opacity: 1;
}
 100% {
 -webkit-transform: translate(0, -10px);
 transform: translate(0, -10px);
 opacity: 0;
}
}
@-webkit-keyframes float {
 0% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
 25% {
 -webkit-transform: translate(6px, 20px);
 transform: translate(6px, 20px);
}
 50% {
 -webkit-transform: translate(25px, 10px);
 transform: translate(25px, 10px);
}
 100% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
}
@keyframes float {
 0% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
 25% {
 -webkit-transform: translate(6px, 20px);
 transform: translate(6px, 20px);
}
 50% {
 -webkit-transform: translate(25px, 10px);
 transform: translate(25px, 10px);
}
 100% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
}
