@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i,900');
/* :root {
   --first-color: #E67E22;
    --second-color: #E74C3C;
    --third-color: #FFFFFF;
    --txt-color: #333333;
    --txt-color-light: #999999;
    --border-color: #DCDCDC;
    --border-color-second: #FFFFFF;
    --second-btn-color: #FFFFFF;
	--header-txt-color: #FFFFFF;
} */

:root {
 --first-color:var(--first-color);
 --second-color:var(--second-color);
 --third-color:var(--third-color);
 --txt-color:var(--txt-color);
 --txt-color-light:var(--txt-color-light);
 --border-color:var(--border-color);
 --border-color-second:var(--border-color-second);
 --second-btn-color:var(--second-btn-color);
 --header-txt-color:var(--header-txt-color);
}

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics 
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.42857;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 15px;
	line-height: 1;
	color: #888;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
th {
	text-align: left;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
/* #Basic Styles
================================================== */
 
/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
.subheader {
	color: #777;
}
/* Headings & paragraphs -- */
h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	padding: 0 0 5px 0;
	color: #4c4c4c;
	margin: 0;
	line-height: normal;
}
h1 {
	font-size: 2em;
	padding: 0;
}
h2 {
	font-size: 1.8em;
	line-height: normal;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.1em;
}
strong {
	font-weight: 700;
}
/* inpput */
p {
	margin: 0 0 15px 0;
	line-height: 1.5;
	font-size: 0.9em;
}
p {
}
p img {
	margin: 0;
}
p.lead {
	font-size: 21px;
	color: #777;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
/*	Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"], a {
	cursor: pointer;
}
/* #Links
================================================== */
a {
	color: var(--first-color);
}
a, a:visited {
	line-height: normal;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
a:hover, a:focus {
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
p a, p a:visited {
	line-height: inherit;
}
/* #Lists
================================================== */
ul, ol {
	margin-bottom: 0px;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 0px;
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom: 0px;
}
li {
}
ul.large li {
	line-height: 21px;
}
li p {
	line-height: 21px;
}
/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

 

/* form elements ---------------------- */
input::-moz-focus-inner {
border: 0;
padding: 0;
}
input, select, textarea {
	outline: none;
	font-family: inherit;
}
input[type="submit"], input[type="button"] {
	-webkit-appearance: none;
}
input[type="text"], input[type="password"], textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background: transparent !important;
}
select::-ms-expand {
display:none;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="number"]:focus, input[type="file"]:focus {
}
select {
	padding-right: 0;
}
/*Misc*/
.show--mobile {
	display: inline-block !important;
}
.hide--desktop {
	display: none !important;
}
.show--desktop {
	display: inline-block !important;
}
.float--left {
	float: left !important;
}
.float--right {
	float: right !important;
}
.nomargin {
	margin: 0 !important;
}
.nomargin--bottom {
	margin-bottom: 0 !important;
}
.nomargin--top {
	margin-top: 0 !important;
}
.nomargin--left {
	margin-left: 0 !important;
}
.nomargin--right {
	margin-right: 0 !important;
}
.nopadding {
	padding: 0 !important;
}
.nopadding--bottom {
	padding-bottom: 0 !important;
}
.nopadding--top {
	padding-top: 0 !important;
}
.nopadding--left {
	padding-left: 0 !important;
}
.nopadding--right {
	padding-right: 0 !important;
}
.noborder--right {
	border-right: none !important;
}
.align--left {
	text-align: left !important;
}
.align--right {
	text-align: right !important;
}
.align--center {
	text-align: center !important;
}
.transition--none {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.remove--bottom {
	margin-bottom: 0;
}
.half--bottom {
	margin-bottom: 10px;
}
.add--bottom {
	margin-bottom: 20px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fn {
	float: none;
}
.align--left {
	text-align: left;
}
.align--right {
	text-align: right;
}
.align--center {
	margin: 0 auto;
	text-align: center;
}
.gap {
	height: 15px;
	clear: both;
	display: table;
}
.padding20 {
	padding: 20px;
}
.link {
	color: inherit;
}
.link--primary {
	color: var(--first-color);
	text-decoration: underline;
}
.link--normal {
	color: var(--txt-color);
	font-weight: 500;
}
.link--normal:hover {
	color: var(--first-color);
}
.link--arrow {
	display: inline-block;
	line-height: 1;
	color: var(--first-color);
	font-weight: 400;
	position: relative;
	text-decoration: underline;
	padding: 0 10px 0 0;
}
.link--arrow:before {
	border-right: 2px solid var(--first-color);
	border-top: 2px solid var(--first-color);
	content: "";
	display: inline-block;
	height: 7px;
	margin: 0 0 0 8px;
	position: absolute;
	right: 0;
	top: 5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	vertical-align: middle;
	width: 7px;
}
.link--arrow:hover, .link--arrow:hover:before {
	color: #555555;
	border-color: #555555;
}
.text--bold {
	font-weight: 700;
}
.text--uppercase {
	text-transform: uppercase;
}
.text--dark {
	color: #555555;
}
.text--light {
	opacity: 0.3;
	font-weight: normal;
}
.text--small {
	opacity: 0.4;
	font-style: italic;
	font-size: 95%;
}
.text--block {
	display: block;
}
.text--normal {
	color: var(--txt-color);
}
.text--normal a {
	color: var(--first-color);
}
.text--normal a:hover {
	text-decoration: underline;
}
.text--normal a .fa {
	opacity: 0.3;
	margin: 0 5px 0 0;
}
.text--normal-primary {
	color: #24b26b !important;
}
.text--normal-secondary {
	color: #f15c5c !important;
}
.list__socials li {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 0;
	color: var(--txt-color);
	line-height: 30px;
}
.list__socials li:first-child {
	padding-right: 10px;
}
.list__socials li a {
	font-size: 1.1em;
	color: inherit;
	width: 30px;
	border: none;
	height: 30px;
	display: block;
	border-radius: 100%;
	line-height: 28px;
	text-align: center;
}
.list__socials li a:hover {
	border-color: inherit;
}
.list__socials li.social--fb {
	color: #3b5998;
}
.list__socials li.social--tw {
	color: #55acee;
}
.list__socials li.social--pt {
	color: #cb2027;
}
.list__socials li.social--li {
	color: #0177b5;
}
.list__socials li.social--gp {
	color: #d95232;
}
.list__socials--filled li.social--fb a {
	background: #3b5998;
	color: #fff;
}
.list__socials--filled li.social--tw a {
	background: #55acee;
	color: #fff;
}
.list__socials--filled li.social--pt a {
	background: #cb2027;
	color: #fff;
}
.list__socials--filled li.social--li a {
	background: #0177b5;
	color: #fff;
}
.list__socials--filled li.social--gp a {
	background: #d95232;
	color: #fff;
}
.hidden {
	display: none;
}
.dont-show {
	visibility: hidden;
	height: 0;
}
.inviso {
	display: none;
}
.highlighted {
	color: #211922;
	background-color: #ff0;
}
.inline--block {
	display: inline-block;
	vertical-align: middle;
}
.error {
	font-weight: 300;/*	color: #f00;*/
}
.noFloat {
	float: none;
}
.noState:hover {
	background-color: transparent;
}
.noState:active {
	color: #221919;
}
.border {
	border: 1px solid #b8c3cd;
}
.border-top {
	border-top: 1px solid #b8c3cd;
}
.border-right {
	border-right: 1px solid #b8c3cd;
}
.border-bottom {
	border-bottom: 1px solid #b8c3cd;
}
.border-left {
	border-left: 1px solid #b8c3cd;
}
.invisible {
	visibility: hidden;
}
.red {
	color: red;
}
.noscroll {
	overflow: hidden;
}
.divider {
	height: 1px;
	background: var(--border-color);
	margin: 15px 0;
}
.border-bottom {
	border-bottom: solid 1px var(--border-color);
	height: 1px;
}
.img-responsive {
	max-width: 100%;
}
.text--bold {
	font-weight: 700;
}
.text--uppercase {
	text-transform: uppercase;
}
.text--dark {
	color: #555555;
}
.text--light {
	opacity: 0.3;
	font-weight: normal;
}
.text--small {
	opacity: 0.4;
	font-style: italic;
	font-size: 95%;
}
.text--block {
	display: block;
}
/*loaders*/


.loader-yk {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	border: 3px solid var(--first-color);
	animation: loader 2s infinite ease;
	margin: 15px auto;
	text-align: center;
}
.loader-yk-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: var(--first-color);
	animation: loader-inner 2s infinite ease-in;
}
 @keyframes loader {
 0% {
 transform: rotate(0deg);
}
 25% {
 transform: rotate(180deg);
}
 50% {
 transform: rotate(180deg);
}
 75% {
 transform: rotate(360deg);
}
 100% {
 transform: rotate(360deg);
}
}
 @keyframes loader-inner {
 0% {
 height: 0%;
}
 25% {
 height: 0%;
}
 50% {
 height: 100%;
}
 75% {
 height: 100%;
}
 100% {
 height: 0%;
}
}
.loader-wrapper {
	position: relative;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -55px;
	width: 110px;
	height: 14px;
}
.circle {
	width: 10px;
	height: 10px;
	border-radius: 14px;
	border: 2px solid var(--first-color);
	margin: 10px;
	animation: rotate 2s infinite linear;
	animation-fill-mode: both;
	display: inline-block;
}
.circle:nth-of-type(2) {
	animation: rotate2 2s infinite linear;
	animation-fill-mode: both;
}
.circle:nth-of-type(3) {
	animation: rotate3 2s infinite linear;
	animation-fill-mode: both;
}
 @keyframes rotate {
 0% {
 transform: scale(0);
 opacity: 0;
}
 25% {
 transform: scale(1);
 opacity: 1;
}
 75% {
 transform: scale(1);
 opacity: 1;
}
 85% {
 transform: scale(1);
 opacity: 1;
}
 100% {
 transform: scale(1);
 opacity: 0;
}
}
 @keyframes rotate2 {
 0% {
 transform: scale(0);
 opacity: 0;
}
 25% {
 transform: scale(0);
 opacity: 0;
}
 50% {
 transform: scale(1);
 opacity: 1;
}
 75% {
 transform: scale(1);
 opacity: 1;
}
 85% {
 transform: scale(1);
 opacity: 1;
}
 100% {
 transform: scale(1);
 opacity: 0;
}
}
 @keyframes rotate3 {
 0% {
 transform: scale(0);
 opacity: 0;
}
 50% {
 transform: scale(0);
 opacity: 0;
}
 75% {
 transform: scale(1);
 opacity: 1;
}
 85% {
 transform: scale(1);
 opacity: 1;
}
 100% {
 transform: scale(1);
 opacity: 0;
}
}
.clearfix.row {
}
.clearfix:before, .row:before, .clearfix:after, .row:after {s
	content: "";
	display: table;
	line-height: 0;
}
.clearfix:after, .row:after {
	clear: both;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}
/*grid*/


.container--fluid {
	width: 100%;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row:after, .fixed-container:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.fixed-container {
	max-width: 1450px;
	padding: 0 15px;
	margin: 0 auto;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
 @media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
}
 @media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: 91.66666667%;
}
.col-lg-10 {
	width: 83.33333333%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-7 {
	width: 58.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66666667%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66666667%;
}
.col-lg-1 {
	width: 8.33333333%;
}
}
.row.no-gutter, .no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.column {
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
/* Set Margins and gaps*/
.marginTop_medium {
	margin-top: 15px;
}
.marginTop_small {
	margin-top: 10px;
}
.marginTop_minismall {
	margin-top: 5px;
}
.section_space {
	padding: 35px 0 0;
}
.sectionboth_space {
	padding: 35px 0;
}
.insidespace_top {
	padding-top: 35px;
}
.insidespace_bottom {
	padding-bottom: 35px;
}
.mobile-thead {
	display: none;
}
.pull-right {
	float: right;
	text-align: right;
}
.pull-left {
	text-align: left;
	float: left;
}
/*Effects*/
.transition-none {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
/*Set clear*/
.clearfix:after {
	clear: both;
	display: block;
	content: "";
}
img {
	max-width: 100%;
	display: block;
}
/*Base CSS end here*/


@font-face {
	font-family: 'mostraoneregular';
	src: url('../fonts/mostraone-webfont.woff2') format('woff2'), url('../fonts/mostraone-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.ripplelink {
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index: 0;
}
.ripplelink:hover {
/*z-index: 1000;*/
}
.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.animate {
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
 @-webkit-keyframes ripple {
100% {
opacity: 0;
-webkit-transform: scale(2.5);
}
}
@-moz-keyframes ripple {
100% {
opacity: 0;
-moz-transform: scale(2.5);
}
}
@-o-keyframes ripple {
100% {
opacity: 0;
-o-transform: scale(2.5);
}
}
@keyframes ripple {
100% {
opacity: 0;
transform: scale(2.5);
}
}
/*btn*/ 
.btn, .form input[type="submit"], .form input[type="button"] {
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: solid 1px transparent;
	white-space: normal;
	padding: 8px 20px;
	font-size: 1em;
	line-height: 1.42857;
	border-radius: 0;
	color: #fff;
	background: none;
}
.form input[type="submit"], .form input[type="button"] {
	background: var(--first-color);
	border: solid 1px transparent;
	min-height: 40px;
}
.btn:hover, .btn:focus, .btn.focus, .form input[type="submit"]:hover, .form input[type="submit"]:focus, .form input[type="submit"].focus, .form input[type="button"]:hover, .form input[type="button"]:focus, .form input[type="button"].focus {
	text-decoration: none;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.btn--link:hover, .btn--link:focus {
	box-shadow: none;
}
.btn:active, .btn.is-active, .form input[type="submit"]:active, .form input[type="submit"].is-active, .form input[type="button"]:active, .form input[type="button"].is-active {
	outline: 0;
	background-image: none;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
	background: var(--first-color);
	border: solid 1px transparent;
	color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .form input[type="submit"].disabled, .form input[type="submit"][disabled], fieldset[disabled] .form input[type="submit"], .form input[type="button"].disabled, .form input[type="button"][disabled], fieldset[disabled] .form input[type="button"] {
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
a.btn.disabled, fieldset[disabled] a.btn {
	pointer-events: none;
}
.no--focus:focus {
	box-shadow: none !important;
}
.invalid {
	-webkit-animation: moltinShake .4s ease-in-out .1s normal forwards 1 running;
	animation: moltinShake .4s ease-in-out .1s normal forwards 1 running
}
@-webkit-keyframes moltinShake {
12.5% {
-webkit-transform:translateX(-6px) rotateY(-5deg);
transform:translateX(-6px) rotateY(-5deg)
}
37.5% {
-webkit-transform:translateX(5px) rotateY(4deg);
transform:translateX(5px) rotateY(4deg)
}
62.5% {
-webkit-transform:translateX(-3px) rotateY(-2deg);
transform:translateX(-3px) rotateY(-2deg)
}
87.5% {
-webkit-transform:translateX(2px) rotateY(1deg);
transform:translateX(2px) rotateY(1deg)
}
100% {
-webkit-transform:translateX(0);
transform:translateX(0)
}
}
@keyframes moltinShake {
12.5% {
-webkit-transform:translateX(-6px) rotateY(-5deg);
transform:translateX(-6px) rotateY(-5deg)
}
37.5% {
-webkit-transform:translateX(5px) rotateY(4deg);
transform:translateX(5px) rotateY(4deg)
}
62.5% {
-webkit-transform:translateX(-3px) rotateY(-2deg);
transform:translateX(-3px) rotateY(-2deg)
}
87.5% {
-webkit-transform:translateX(2px) rotateY(1deg);
transform:translateX(2px) rotateY(1deg)
}
100% {
-webkit-transform:translateX(0);
transform:translateX(0)
}
}
/*default */
.btn--default {
	color: var(--txt-color);
	background-color: #fff;
	border-color: #ccc;
	border: 1px solid #ddd;
}
.btn--default:focus, .btn--default.focus {
	color: var(--txt-color);
	background-color: #e6e6e6;
	border-color: #8c8c8c;
}
.btn--default:hover {
	color: var(--txt-color);
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn--default:active, .btn--default.active, .open > .btn--default.dropdown-toggle {
	color: var(--txt-color);
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn--default:active:hover, .btn--default:active:focus, .btn--default:active.focus, .btn--default.active:hover, .btn--default.active:focus, .btn--default.active.focus, .open > .btn--default.dropdown-toggle:hover, .open > .btn--default.dropdown-toggle:focus, .open > .btn--default.dropdown-toggle.focus {
	color: var(--txt-color);
	background-color: #d4d4d4;
	border-color: #8c8c8c;
}
.btn--default:active, .btn--default.active, .open > .btn--default.dropdown-toggle {
	background-image: none;
}
.btn--default.disabled:hover, .btn--default.disabled:focus, .btn--default.disabled.focus, .btn--default[disabled]:hover, .btn--default[disabled]:focus, .btn--default[disabled].focus, fieldset[disabled] .btn--default:hover, fieldset[disabled] .btn--default:focus, fieldset[disabled] .btn--default.focus {
	background-color: #fff;
	border-color: #ccc;
}
.btn--default .badge {
	color: #fff;
	background-color: var(--txt-color);
}
/*primary*/


.btn--primary {
	color: #fff;
	border: solid 1px var(--border-color);
	background: var(--first-color);
	border-color: var(--first-color);
}
.btn--primary:focus, .btn--primary.focus, .form input[type="submit"]:focus, .form input[type="submit"].focus {
}
.btn--primary:hover, .form input[type="submit"]:hover {
	color: #fff;
	border-color: var(--first-color);
	background: var(--first-color);
}
.btn--primary:active:hover, .btn--primary:active:focus, .btn--primary:active.focus, .btn--primary.active:hover, .btn--primary.active:focus, .btn--primary.active.focus, .open > .btn--primary.dropdown-toggle:hover, .open > .btn--primary.dropdown-toggle:focus, .open > .btn--primary.dropdown-toggle.focus, .form input[type="submit"]:active:hover, .form input[type="submit"]:active:focus, .form input[type="submit"]:active.focus, .form input[type="submit"].active:hover, .form input[type="submit"].active:focus, .form input[type="submit"].active.focus, .open > .form input[type="submit"].dropdown-toggle:hover, .open > .form input[type="submit"].dropdown-toggle:focus, .open > .form input[type="submit"].dropdown-toggle.focus {
}
.btn--primary:active, .btn--primary.active, .open > .btn--primary.dropdown-toggle, .form input[type="submit"]:active, .form input[type="submit"].active, .open > .form input[type="submit"].dropdown-toggle {
	background-image: none;
}
.btn--primary.disabled:hover, .btn--primary.disabled:focus, .btn--primary.disabled.focus, .btn--primary[disabled]:hover, .btn--primary[disabled]:focus, .btn--primary[disabled].focus, fieldset[disabled] .btn--primary:hover, fieldset[disabled] .btn--primary:focus, fieldset[disabled] .btn--primary.focus, .form input[type="submit"].disabled:hover, .form input[type="submit"].disabled:focus, .form input[type="submit"].disabled.focus, .form input[type="submit"][disabled]:hover, .form input[type="submit"][disabled]:focus, .form input[type="submit"][disabled].focus, fieldset[disabled] .form input[type="submit"]:hover, fieldset[disabled] .form input[type="submit"]:focus, fieldset[disabled] .form input[type="submit"].focus {
	background-color: var(--first-color);
	border-color: #209d5e;
}
.btn--primary .badge, .form input[type="submit"] .badge {
	color: var(--first-color);
	background-color: #fff;
}
/*success*/
.btn--success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn--success:focus, .btn--success.focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
}
.btn--success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
.btn--success:active, .btn--success.active, .open > .btn--success.dropdown-toggle {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
.btn--success:active:hover, .btn--success:active:focus, .btn--success:active.focus, .btn--success.active:hover, .btn--success.active:focus, .btn--success.active.focus, .open > .btn--success.dropdown-toggle:hover, .open > .btn--success.dropdown-toggle:focus, .open > .btn--success.dropdown-toggle.focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}
.btn--success:active, .btn--success.active, .open > .btn--success.dropdown-toggle {
	background-image: none;
}
.btn--success.disabled:hover, .btn--success.disabled:focus, .btn--success.disabled.focus, .btn--success[disabled]:hover, .btn--success[disabled]:focus, .btn--success[disabled].focus, fieldset[disabled] .btn--success:hover, fieldset[disabled] .btn--success:focus, fieldset[disabled] .btn--success.focus {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn--success .badge {
	color: #5cb85c;
	background-color: #fff;
}
/*info*/
.btn--info {
	color: #fff;
	background-color: #237dbb;
	border-color: #1f6fa6;
}
.btn--info:focus, .btn--info.focus {
	color: #fff;
	background-color: #1b6090;
	border-color: #0b273a;
}
.btn--info:hover {
	color: #fff;
	background-color: #1b6090;
	border-color: #154c72;
}
.btn--info:active, .btn--info.active, .open > .btn--info.dropdown-toggle {
	color: #fff;
	background-color: #1b6090;
	border-color: #154c72;
}
.btn--info:active:hover, .btn--info:active:focus, .btn--info:active.focus, .btn--info.active:hover, .btn--info.active:focus, .btn--info.active.focus, .open > .btn--info.dropdown-toggle:hover, .open > .btn--info.dropdown-toggle:focus, .open > .btn--info.dropdown-toggle.focus {
	color: #fff;
	background-color: #154c72;
	border-color: #0b273a;
}
.btn--info:active, .btn--info.active, .open > .btn--info.dropdown-toggle {
	background-image: none;
}
.btn--info.disabled:hover, .btn--info.disabled:focus, .btn--info.disabled.focus, .btn--info[disabled]:hover, .btn--info[disabled]:focus, .btn--info[disabled].focus, fieldset[disabled] .btn--info:hover, fieldset[disabled] .btn--info:focus, fieldset[disabled] .btn--info.focus {
	background-color: #237dbb;
	border-color: #1f6fa6;
}
.btn--info .badge {
	color: #237dbb;
	background-color: #fff;
}
.btn--info:hover {
}
/*warning*/
.btn--warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn--warning:focus, .btn--warning.focus {
	color: #fff;
	background-color: #ec971f;
	border-color: #985f0d;
}
.btn--warning:hover {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}
.btn--warning:active, .btn--warning.active, .open > .btn--warning.dropdown-toggle {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}
.btn--warning:active:hover, .btn--warning:active:focus, .btn--warning:active.focus, .btn--warning.active:hover, .btn--warning.active:focus, .btn--warning.active.focus, .open > .btn--warning.dropdown-toggle:hover, .open > .btn--warning.dropdown-toggle:focus, .open > .btn--warning.dropdown-toggle.focus {
	color: #fff;
	background-color: #d58512;
	border-color: #985f0d;
}
.btn--warning:active, .btn--warning.active, .open > .btn--warning.dropdown-toggle {
	background-image: none;
}
.btn--warning.disabled:hover, .btn--warning.disabled:focus, .btn--warning.disabled.focus, .btn--warning[disabled]:hover, .btn--warning[disabled]:focus, .btn--warning[disabled].focus, fieldset[disabled] .btn--warning:hover, fieldset[disabled] .btn--warning:focus, fieldset[disabled] .btn--warning.focus {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn--warning .badge {
	color: #f0ad4e;
	background-color: #fff;
}
/*danger*/
.btn--danger {
	color: #fff;
	background-color: #f15c5c;
	border-color: #ef4545;
}
.btn--danger:focus, .btn--danger.focus {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #a60e0e;
}
.btn--danger:hover {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #e31313;
}
.btn--danger:active, .btn--danger.active, .open > .btn--danger.dropdown-toggle {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #e31313;
}
.btn--danger:active:hover, .btn--danger:active:focus, .btn--danger:active.focus, .btn--danger.active:hover, .btn--danger.active:focus, .btn--danger.active.focus, .open > .btn--danger.dropdown-toggle:hover, .open > .btn--danger.dropdown-toggle:focus, .open > .btn--danger.dropdown-toggle.focus {
	color: #fff;
	background-color: #e31313;
	border-color: #a60e0e;
}
.btn--danger:active, .btn--danger.active, .open > .btn--danger.dropdown-toggle {
	background-image: none;
}
.btn--danger.disabled:hover, .btn--danger.disabled:focus, .btn--danger.disabled.focus, .btn--danger[disabled]:hover, .btn--danger[disabled]:focus, .btn--danger[disabled].focus, fieldset[disabled] .btn--danger:hover, fieldset[disabled] .btn--danger:focus, fieldset[disabled] .btn--danger.focus {
	background-color: #f15c5c;
	border-color: #ef4545;
}
.btn--danger .badge {
	color: #f15c5c;
	background-color: #fff;
}
/*secondary */
.btn--secondary, .form input[type="button"] {
	color: #fff;
	background-color: var(--second-color);
	border-color: var(--second-color);
}
.btn--secondary:focus, .btn--secondary.focus, .form input[type="button"]:focus, .form input[type="button"].focus {
}
.btn--secondary:hover, .form input[type="button"]:hover {
}
.btn--secondary:active, .btn--secondary.active, .open > .btn--secondary.dropdown-toggle, .form input[type="button"]:active, .form input[type="button"].active, .open > .form input[type="button"].dropdown-toggle {
}
.btn--secondary:active, .btn--secondary.active, .open > .btn--secondary.dropdown-toggle, .form input[type="button"]:active, .form input[type="button"].active, .open > .form input[type="button"].dropdown-toggle {
	background-image: none;
}
.btn--secondary.disabled:hover, .btn--secondary.disabled:focus, .btn--secondary.disabled.focus, .btn--secondary[disabled]:hover, .btn--secondary[disabled]:focus, .btn--secondary[disabled].focus, fieldset[disabled] .btn--secondary:hover, fieldset[disabled] .btn--secondary:focus, fieldset[disabled] .btn--secondary.focus, .form input[type="button"].disabled:hover, .form input[type="button"].disabled:focus, .form input[type="button"].disabled.focus, .form input[type="button"][disabled]:hover, .form input[type="button"][disabled]:focus, .form input[type="button"][disabled].focus, fieldset[disabled] .form input[type="button"]:hover, fieldset[disabled] .form input[type="button"]:focus, fieldset[disabled] .form input[type="button"].focus {
	background-color: #f15c5c;
	border-color: #ef4545;
}
.btn--secondary .badge, .form input[type="button"] .badge {
	color: #f15c5c;
	background-color: #fff;
}
.btn--secondary:hover, .form input[type="button"]:hover {
}
/*third */
.btn--third, .form input[type="button"] {
	color: #fff;
	background-color: var(--second-color);
	border-color: var(--second-color);
}
.btn--third:focus, .btn--third.focus, .form input[type="button"]:focus, .form input[type="button"].focus {
}
.btn--third:hover, .form input[type="button"]:hover {
}
.btn--third:active, .btn--third.active, .open > .btn--third.dropdown-toggle, .form input[type="button"]:active, .form input[type="button"].active, .open > .form input[type="button"].dropdown-toggle {
}
.btn--third:active, .btn--third.active, .open > .btn--third.dropdown-toggle, .form input[type="button"]:active, .form input[type="button"].active, .open > .form input[type="button"].dropdown-toggle {
	background-image: none;
}
.btn--third.disabled:hover, .btn--third.disabled:focus, .btn--third.disabled.focus, .btn--third[disabled]:hover, .btn--third[disabled]:focus, .btn--third[disabled].focus, fieldset[disabled] .btn--third:hover, fieldset[disabled] .btn--third:focus, fieldset[disabled] .btn--third.focus, .form input[type="button"].disabled:hover, .form input[type="button"].disabled:focus, .form input[type="button"].disabled.focus, .form input[type="button"][disabled]:hover, .form input[type="button"][disabled]:focus, .form input[type="button"][disabled].focus, fieldset[disabled] .form input[type="button"]:hover, fieldset[disabled] .form input[type="button"]:focus, fieldset[disabled] .form input[type="button"].focus {
	background-color: var(--first-color);
	border-color: var(--first-color);
}
.btn--third .badge, .form input[type="button"] .badge {
	color: #f15c5c;
	background-color: #fff;
}
.btn--third:hover, .form input[type="button"]:hover {
}
/*black*/

.btn--black {
	color: #fff;
	background-color: #000;
	border-color: black;
}
.btn--black:focus, .btn--black.focus {
	color: #fff;
	background-color: black;
	border-color: black;
}
.btn--black:hover {
	color: #fff;
	background-color: black;
	border-color: black;
}
.btn--black:active, .btn--black.active, .open > .btn--black.dropdown-toggle {
	color: #fff;
	background-color: black;
	border-color: black;
}
.btn--black:active:hover, .btn--black:active:focus, .btn--black:active.focus, .btn--black.active:hover, .btn--black.active:focus, .btn--black.active.focus, .open > .btn--black.dropdown-toggle:hover, .open > .btn--black.dropdown-toggle:focus, .open > .btn--black.dropdown-toggle.focus {
	color: #fff;
	background-color: black;
	border-color: black;
}
.btn--black:active, .btn--black.active, .open > .btn--black.dropdown-toggle {
	background-image: none;
}
.btn--black.disabled:hover, .btn--black.disabled:focus, .btn--black.disabled.focus, .btn--black[disabled]:hover, .btn--black[disabled]:focus, .btn--black[disabled].focus, fieldset[disabled] .btn--black:hover, fieldset[disabled] .btn--black:focus, fieldset[disabled] .btn--black.focus {
	background-color: #000;
	border-color: black;
}
.btn--black .badge {
	color: #000;
	background-color: #fff;
}
.btn--black:hover {
}
.btn--gray {
	color: #000;
	background-color: #ccc;
	border-color: #ccc;
}
.btn--gray:focus, .btn--gray.focus {
	color: #fff;
	background-color: #c1c1c1;
}
.btn--gray:hover {
	border-color: #c1c1c1;
}
.btn--gray:active, .btn--gray.active, .open > .btn--gray.dropdown-toggle {
}
.btn--gray:active:hover, .btn--gray:active:focus, .btn--gray:active.focus, .btn--gray.active:hover, .btn--gray.active:focus, .btn--gray.active.focus, .open > .btn--gray.dropdown-toggle:hover, .open > .btn--gray.dropdown-toggle:focus, .open > .btn--gray.dropdown-toggle.focus {
}
.btn--gray:active, .btn--gray.active, .open > .btn--gray.dropdown-toggle {
	background-image: none;
}
.btn--gray.disabled:hover, .btn--gray.disabled:focus, .btn--gray.disabled.focus, .btn--gray[disabled]:hover, .btn--gray[disabled]:focus, .btn--gray[disabled].focus, fieldset[disabled] .btn--gray:hover, fieldset[disabled] .btn--gray:focus, fieldset[disabled] .btn--gray.focus {
	background-color: #dadada;
}
.btn--gray .badge {
	color: #dadada;
	background-color: #fff;
}
.btn--gray:hover {
}
.btn--link {
	color: var(--first-color);
	font-size: 0.8em;
	font-weight: normal;
}
.btn--link, .btn--link:active, .btn--link.active, .btn--link[disabled], fieldset[disabled] .btn--link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
	border-color: transparent;
}
.btn--link:hover, .btn--link:focus {
	color: inherit;
	text-decoration: underline;
	background-color: transparent;
}
.btn--link[disabled]:hover, .btn--link[disabled]:focus, fieldset[disabled] .btn--link:hover, fieldset[disabled] .btn--link:focus {
	color: #e7e7e7;
	text-decoration: none;
}
.btn--white {
	background: #fff;
	color: var(--txt-color);
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid var(--border-color);
	font-weight: 500;
	white-space: nowrap;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1.42857;
}
.btn--white:hover, .btn--white:active, .btn--white:focus {
	background: #fff;
	color: var(--txt-color);
}
.btn--lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33333;
}
.btn--sm, .btn--sm.btn--white, .form input[type="submit"].btn--sm, .form input[type="button"].btn--sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}
.btn--xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
.btn--h-large {
	min-width: 170px;
}
.btn--block {
	display: block;
	width: 100%;
}
.btn--block + .btn--block {
	margin-top: 5px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width: 100%;
}

/**/


/* form ---------------------- */
input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
	resize: vertical;
}
input, select, textarea {
	outline: none;
	font-family: inherit;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}
input[type="submit"], input[type="button"] {
	-webkit-appearance: none;
}
input[type="text"], input[type="password"], textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background: transparent !important;
}
 select::-ms-expand {
display: none;
}
input[type="text"], input[type="email"], input[type="phone"], input[type="search"], input[type="password"], textarea, select, input[type="number"], input[type="file"] {
	background-color: #fff;
	border: 1px solid var(--border-color);
	height: 40px;
	padding: 0 10px;
	width: 100%;
	color: var(--txt-color);
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
	border-radius: 0;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="number"]:focus, input[type="file"]:focus {
	border-color: rgba(255, 58, 89, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 58, 89, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 58, 89, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 58, 89, 0.2);
}
input[type="file"] {
	height: auto;
	padding: 8px 10px;
}
.form .astrick {
	position: relative;
}
.form .astrick:after {
	color: red;
	content: "*";
}
.form input[type="submit"] {
	margin: 0 10px 0 0;
}
input[type="text"].p-cards {
	background: url(../images/payment-cards.png) no-repeat right 3px;
}
input[type="text"].p-cards.amex {
	background-position: right -34px;
}
input[type="text"].p-cards.visa {
	background-position: right -70px;
}
input[type="text"].p-cards.master {
	background-position: right -106px;
}
input[type="text"].p-cards.meastro {
	background-position: right -141px;
}
select {
	padding-right: 35px;
	background-image: url(../images/select-arrow.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center right;
	font-size: 1em;
}

select option{ padding:3px 0;}
.field--calender {
	background-color: #fff;
	padding-right: 35px !important;
	background-image: url(../images/icon--calender.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	background-size: 15px;
}
textarea {
	height: 150px;
	padding: 15px;
}
.field-set {
	width: 100%;
	display: inline-block;
	margin: 0 0 20px;
}
.form__group {
	width: 100%;
	display: inline-block;
	margin: 15px 0 0;
}
.field_label {
	display: block;
	margin: 0 0 5px 0;
}
.form--normal {
	margin: 20px 0;
}
.form--normal input[type="submit"] {
	min-width: 180px;
	text-transform: uppercase; /*font-weight: 700;*/
	margin: 0 20px 0 0;
}
.mandatory, .spn_must_field {
	color: red;
}
.form--auto input, .form--auto select {
	width: auto;
}
/* radio and checkbox */
.checkbox, .radio {
	display: inline-block;
	color: var(--txt-color);
	position: relative;
	vertical-align: top;
	padding: 0 0 0 30px;
	min-height: 20px;
}
.checkbox input, .radio input {
	top: 0;
	left: 0;
	margin: 0 !important;
	z-index: 1;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px \9;
}
.radio.disabled, .checkbox.disabled {
	cursor: not-allowed;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="text"][disabled], input[type="password"][disabled] {
	cursor: not-allowed;
	 
}
input[type="text"][disabled], input[type="password"][disabled] {
	background: rgba(0, 0, 0, 0.03);
	color: #000;
}
.inline.radio, .inline.checkbox {
	padding-right: 20px;
}
.checkbox .input-helper:before, .radio .input-helper:before, .checkbox .input-helper:after, .radio .input-helper:after {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	content: "";
}
.checkbox .input-helper:before, .radio .input-helper:before {
	left: 0;
	border: 1px solid var(--border-color);
	background: #fff;
}
.checkbox.disabled, .radio.disabled {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.checkbox input {
	width: 20px;
	height: 20px;
}
.checkbox input:checked + .input-helper:after {
	-webkit-transform: scale(1) rotate(-50deg);
	-ms-transform: scale(1) rotate(-50deg);
	-o-transform: scale(1) rotate(-50deg);
	transform: scale(1) rotate(-50deg);
	opacity: 1;
	filter: alpha(opacity=100);
}
.checkbox .input-helper:before {
	top: 0;
	width: 20px;
	height: 20px;
}
.checkbox .input-helper:after {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0) rotate(80deg);
	-ms-transform: scale(0) rotate(80deg);
	-o-transform: scale(0) rotate(80deg);
	transform: scale(0) rotate(80deg);
	width: 15px;
	height: 8px;
	border-bottom: 2px solid var(--first-color);
	border-left: 2px solid var(--first-color);
	border-bottom-left-radius: 1px;
	left: 3px;
	top: 4px;
}
.radio input {
	width: 19px;
	height: 19px;
}
.radio input:checked + .input-helper:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.radio .input-helper:before {
	top: -1px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.radio .input-helper:after {
	width: 11px;
	height: 11px;
	background: var(--first-color);
	border-radius: 50%;
	top: 3px;
	left: 4px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.form--shadow input[type="text"], .form--shadow select {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border: none;
}
.form--inline {
	display: inline-block;
	vertical-align: top;
}
.form--inline label {
	font-size: 1em;
	font-weight: 500;
}
.form--inline li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
	text-align: left;
}
.form--inline li:last-child {
	padding-right: 0;
}
.form--inline .btn--white {
	display: none;
}
.form--inline .btn--white .fa {
	display: none;
}
.form--inline .field--sort .fa {
	display: none;
}
.form__cover {
	padding: 15px;
	background: #f5f5f5;
	border-radius: 3px;
	width: 100%;
	display: inline-block;
}
.form--horizontal .field-set {
	display: table;
	table-layout: fixed;
}
.form--horizontal .caption-wraper {
	display: table-cell;
	vertical-align: top;
	padding: 5px 0 0;
	width: 30%;
}
.form--horizontal .field-wraper {
	display: table-cell;
	vertical-align: top;
	width: 70%;
}
.form--horizontal.layout--rtl input[type="submit"] {
	margin: 0 0 0 10px;
}
.form .text--small, .preview .text--small {
	opacity: 0.4;
	font-style: italic;
	font-size: 95%;
}
.labels--inline label {
	display: inline-block;
	line-height: 40px;
	height: 40px;
	padding: 0 20px 0 40px;
	background-color: #fff;
	border: 1px solid var(--border-color);
	margin: 0 10px 0 0;
	border-radius: 5px;
}
.labels--inline label .input-helper:before {
	top: 9px;
	left: 10px;
}
.labels--inline label .input-helper:after {
	top: 13px;
	left: 14px;
}
.labelgroup--vertical label {
	display: block;
	margin: 10px 0;
}
.labelgroup--horizontal label {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 0 0;
}
.radio--large {
	min-height: 26px;
	padding-left: 35px;
	line-height: 26px;
}
.radio--large input {
	width: 26px;
	height: 26px;
}
.radio--large .input-helper {
	width: 26px;
	height: 26px;
	position: absolute;
	border-radius: 4px;
	background: #ddd;
	left: 0;
	top: 0;
	box-shadow: 0 0 1px transparent, inset 0 0 0 3px transparent;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.1s all;
}
.radio--large .input-helper:after, .radio--large .input-helper:before {
	display: none;
}
.radio--large input:checked + .input-helper {
	box-shadow: 0 0 1px #666, inset 0 0 0 4px #fff;
}
.radio--custom {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 2px 2px 0;
}
.radio--custom input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.radio--custom input:checked + .input-txt {
	background: #f5f5f5;
}
.radio--custom .input-txt {
	border: 1px solid var(--border-color);
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
}
.checkbox--positioned {
	position: absolute;
	right: 0px;
	top: 20px;
	z-index: 1;
}
.form--horizontal .field-set {
	display: table;
	table-layout: fixed;
}
.form--horizontal .caption-wraper {
	display: table-cell;
	vertical-align: top;
	padding: 5px 0 0;
	width: 30%;
}
.form--horizontal .field-wraper {
	display: table-cell;
	vertical-align: top;
	width: 70%;
}
.form small, .form .text--small, .preview .text--small {
	opacity: 0.8;
	font-style: italic;
	font-size: 80%;
}
.labels--inline label {
	display: inline-block;
	line-height: 40px;
	height: 40px;
	padding: 0 20px 0 40px;
	background-color: #fff;
	border: 1px solid var(--border-color);
	margin: 0 10px 0 0;
	border-radius: 5px;
}
.labels--inline label .input-helper:before {
	top: 9px;
	left: 10px;
}
.labels--inline label .input-helper:after {
	top: 13px;
	left: 14px;
}
.field--small {
	width: 60px !important;
	display: inline-block;
	vertical-align: top;
}
.field--normal {
	width: 120px !important;
	display: inline-block;
	vertical-align: top;
}
.field-set-gray {
	background: #f5f5f5;
	border-radius: 5px;
	padding: 15px;
}
.form--singlefield input[type="text"] {
	width: 70%;
	float: left;
}
.form--singlefield input[type="submit"] {
	width: 30%;
	float: left;
	margin: 0;
	height: 40px;
}
.form--secondary input[type="submit"] {
	color: #fff;
}
.form--secondary input[type="submit"]:focus, .form--secondary input[type="submit"].focus {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #a60e0e;
}
.form--secondary input[type="submit"]:hover {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #e31313;
}
.form--secondary input[type="submit"]:active, .form--secondary input[type="submit"].active, .open > .form--secondary input[type="submit"].dropdown-toggle {
	color: #fff;
	background-color: #ed2d2d;
	border-color: #e31313;
}
.form--secondary input[type="submit"]:active:hover, .form--secondary input[type="submit"]:active:focus, .form--secondary input[type="submit"]:active.focus, .form--secondary input[type="submit"].active:hover, .form--secondary input[type="submit"].active:focus, .form--secondary input[type="submit"].active.focus, .open > .form--secondary input[type="submit"].dropdown-toggle:hover, .open > .form--secondary input[type="submit"].dropdown-toggle:focus, .open > .form--secondary input[type="submit"].dropdown-toggle.focus {
	color: #fff;
	background-color: #e31313;
	border-color: #a60e0e;
}
.form--secondary input[type="submit"]:active, .form--secondary input[type="submit"].active, .open > .form--secondary input[type="submit"].dropdown-toggle {
	background-image: none;
}
.form--secondary input[type="submit"].disabled:hover, .form--secondary input[type="submit"].disabled:focus, .form--secondary input[type="submit"].disabled.focus, .form--secondary input[type="submit"][disabled]:hover, .form--secondary input[type="submit"][disabled]:focus, .form--secondary input[type="submit"][disabled].focus, fieldset[disabled] .form--secondary input[type="submit"]:hover, fieldset[disabled] .form--secondary input[type="submit"]:focus, fieldset[disabled] .form--secondary input[type="submit"].focus {
	background-color: #f15c5c;
	border-color: #ef4545;
}
.form--secondary input[type="submit"] .badge {
	color: #f15c5c;
	background-color: #fff;
}
.form--secondary input[type="text"]:focus {
	box-shadow: none;
}

/* tablet ---------------------- */
@media (max-width: 1050px) {
.form--inline .btn--white {
	display: block;
}
.form--inline .btn--white .fa {
	display: inline-block;
}
}
/* ipad ---------------------- */
@media (min-width: 991px) and (max-width: 1050px) {
.form--singlefield input[type="text"] {
	width: 60%;
}
.form--singlefield input[type="submit"] {
	width: 40%;
}
}
/* tablet ---------------------- */
/* mobile ---------------------- */
@media (max-width: 767px) {
.form--normal {
	margin: 0 0 20px 0;
}
.field-set {
	margin: 5px 0;
}
.form--normal input[type="submit"] {
	min-width: 1%;
}
.form--inline {
	margin: 0 -10px;
	display: block;
}
.form--inline ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	vertical-align: top;
}
.form--inline li {
	display: table-cell;
	vertical-align: top;
	padding: 0 10px;
	text-align: left;
}
.form--inline li:last-child {
	padding-right: 10px;
}
.form--inline .btn--white {
	font-weight: normal;
	text-align: left;
	padding: 10px;
	display: block;
}
.form--inline .btn--white .fa {
	float: right;
	font-size: 1.1em;
	margin: 3px 0 0;
	display: inline-block;
}
.form--inline .field--sort {
	position: relative;
}
.form--inline .field--sort select {
	background-image: none;
}
.form--inline .field--sort .fa {
	position: absolute;
	right: 25px;
	top: 12px;
	font-size: 1.1em;
	color: var(--txt-color);
	display: block;
}
.radio--custom .input-txt {
	padding: 6px 5px;
}
.form__cover textarea + p {
	padding-top: 10px;
}
.field--small, .field--normal {
	width: 100% !important;
	margin: 2px 0;
}
.form--horizontal .field-set {
	display: inline-block;
	table-layout: auto;
}
.form--horizontal .caption-wraper {
	display: block;
	padding: 5px 0 0;
	width: 100%;
}
.form--horizontal .field-wraper {
	display: block;
	width: 100%;
}
}
@media (max-width: 400px) {
.form--singlefield input[type="text"] {
	width: 56%;
}
.form--singlefield input[type="submit"] {
	width: 44%;
	font-size: 0.9em;
}
.block-on-mobile {
	display: block;
	width: 100%;
}
.block-on-mobile + .block-on-mobile {
	margin-top: 5px;
}
}
/***/

/* selectors */

.selector li {
	float: left;
	margin: 0 5px 10px 0;
	color: var(--txt-color);
}
.selector li a {
	display: block;
	color: inherit;
}
.selector li a.is-disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
.selector__link {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px;
}
.selector__link.is-active { /*background: #f5f5f5;*/
	border-color: #24b26b;
}
.selector__link img {
	width: 40px;
}
.selector .color {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 0;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.selector .color:before {
	position: absolute;
	left: -5px;
	top: -5px;
	bottom: -5px;
	right: -5px;
	content: "";
	border: 1px solid #ddd;
	border-radius: 3px;
	display: none;
}
.selector--color li {
	margin-right: 20px;
}
.selector--color li a.is-active .color:before {
	border-color: #24b26b;
	display: block;
}
/* paginations */
.pagination {
	border: 1px solid var(--border-color);
	display: inline-block;
	background: #fff;
}
.pagination.center {
	display: table;
	margin: 0 auto;
}
.pagination li {
	float: left;
}
.pagination li a {
	width: 38px;
	line-height: 38px;
	text-align: center;
	height: 40px;
	display: block;
	font-size: 1.1em;
	color: #333;
	border: none;
	position: relative;
	overflow: hidden;
}
.pagination li.selected a {
	background: #f5f5f5;
	color: #000;
	font-weight: 700;
}
.pagination li a:hover {
	background: #f5f5f5;
	color: #000;
}
.pagination li.disabled {
	opacity: 0.4;
}
.pagination li.disabled a {
	cursor: not-allowed;
}
.pagination li.prev a:before {
	width: 12px;
	height: 12px;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	position: absolute;
	left: 14px;
	top: 14px;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.pagination li.next a:before {
	width: 12px;
	height: 12px;
	border-right: 2px solid #333;
	border-top: 2px solid #333;
	position: absolute;
	left: 10px;
	top: 14px;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.page-banner {
	background-position: center top;
	position: relative;
	height: 399px;
	color: #fff;
}
.page-banner:after {
	background: rgba(0,0,0,0.33);
	height: 100%;
	width: 100%;
	content: "";
	position: absolute;
	z-index: 0;
}
.page-banner .banner-txt {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	z-index: 1;
}
.page-banner .banner-txt h1 {
	color: inherit;
	font-size: 4em;
	font-weight: 600;
	line-height: 1;
}
.page-banner .banner-txt h4 {
	color: inherit;
	font-size: 2em;
	display: block;
}
.container--cms p {
	color: var(--txt-color-light);
}
.container--cms .space {
	padding: 50px 0;
}
.container--cms ul {
	margin: 10px 0;
}
.container--cms ul li {
	position: relative;
	padding: 0 15px 5px 15px;
	color: #999999;
	font-size: 1em;
}
.container--cms ul li:before {
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #c5c5c5;
}
.container--cms ol {
	list-style: decimal;
}
.container--cms ol li {
	position: relative;
	padding: 0 0 15px 0;
	color: #666;
	margin: 0 0 0 15px;
	font-size: 1.1em;
}
.container--cms ol li a {
	color: inherit;
}
.bg--second {
	background: var(--second-color);
	color: #fff;
}
.bg--second * {
	color: inherit !important;
}
.bg--second a.btn--custom {
	border-color: #fff;
	color: inherit;
	border-width: 2px;
}
.boxcontainer {
	padding: 20px 0 20px;
}
.boxcontainer .box--gray {
	background: rgba(0, 0, 0, 0.04);
	position: relative;
	padding: 30px 40px 20px 110px;
	border-radius: 3px;
	margin: 20px 0 0;
}
.boxcontainer .box--gray .fa {
	position: absolute;
	left: 20px;
	top: 25px;
	font-size: 4em;
	color: #ccc;
}
.boxcontainer .box--gray p {
	color: #555555;
	margin: 0;
}
.boxcontainer .box--gray h3 {
	padding: 0 0 5px 0;
}
.boxcontainer .box--gray h3 a {
	color: inherit;
}
/*page loader*/
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.pageloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff;
}
.round-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 65px;
	width: 25px;
	margin: auto;
	transform: rotate(90deg);
}
.round {
	width: 15px;
	height: 15px;
	margin: 5px;
	background: var(--first-color);
	border-radius: 50%;
}
 @-webkit-keyframes loading {
 0% {
}
 25% {
 transform: translateX(-100%);
}
 50% {
 transform:translateX(0);
}
 75% {
 transform:translateX(100%);
}
 100% {
 transform:translateX(0);
}
}
.round:nth-child(1) {
	-webkit-animation: loading 1s infinite;
	-webkit-animation-delay: 0s;
}
.round:nth-child(2) {
	-webkit-animation: loading 1s infinite;
	-webkit-animation-delay: 0.5s;
}
.round:nth-child(3) {
	-webkit-animation: loading 1s infinite;
}
/*page loader end*/


/*gradient backgrounds*/

.backgrounds1 {
	background: url(../images/bg-pattern.png), #7b4397;
	background: url(../images/bg-pattern.png), -webkit-linear-gradient(to left, #7b4397, #dc2430);
	background: url(../images/bg-pattern.png), linear-gradient(to left, #ae8027 21.85%, #dc20a8);
}
.backgrounds2 {
	background-color: #6C84E5;
	background: url(../images/elements_header_background.png), linear-gradient(to right, rgba(249, 75, 113, 1), rgba(117, 109, 227, 1));
	background-size: 300px 300px, auto;
}
.backgrounds3 {
	background: -webkit-linear-gradient(45deg, #CF78D4 0%, #F34883 50%, #447FE4 100%);
	background: linear-gradient(45deg, #CF78D4 0%, #F34883 50%, #447FE4 100%);
	content: '';
	opacity: 0.65;
}
.checkbox-switch {
    position: relative;
}

.checkbox-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.checkbox-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 30px;
    position: relative;
}

.checkbox-switch label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 22px;
    transition: 0.3s;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.24);
}

.checkbox-switch input:checked+label {
    background: var(--first-color);
}

.checkbox-switch input:checked+label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

.checkbox-switch label:active:after {
    width: 50px;
}
