/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1025px) {
.fixed-container {
	padding: 0 10px;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding-left: 10px;
	padding-right: 10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}
body {
	font-size: 13px;
}
.hide--tab {
	display: none !important;
}
.hide--desktop {
	display: block !important;
}
.padding15, .padding20 {
	padding: 10px;
}
.padd40 {
	padding: 15px 0;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
}
.after-header {
	height: 76px;
}
.top_bar .slogan {
	display: none;
}
.short-links > ul > li.dropdown {
	display: inline-block;
}
.logo {
	margin: 5px;
	margin-left: 0;
	width: 100px;
	height: 34px;
	max-height: 100px;
	line-height: 45px;
}
.logo img, .logo svg {
	display: inline-block;
	line-height: 33px;
	max-height: 33px;
	vertical-align: baseline;
}
.fixed .logo {
	max-width: 120px;
	margin-left: 45px;
}
.main-search {
	height: auto;
	float: right;
	background: none;
	margin-top: 5px;
}
.form--search-popup {
	height: auto;
	top: 0;
}
.link__close {
	transform: none;
	top: 10px;
}
.form--search-popup .select__cover {
	float: none;
}
.form--search-popup .select__value {
	display: block;
	border: none;
	border-bottom: solid 1px rgba(255,255,255, 0.2);
}
.form--search-popup .form__cover {
	left: 5%;
	right: 5%;
}
.form--search-popup .form__cover form {
	display: block;
}
.form--search-popup .form__cover input[type="text"], .form--search-popup .form__cover select {
	display: block;
	width: 100%;
	border: none;
	border-bottom: solid 1px rgba(255,255,255, 0.2);
}
.form--search-popup .form__cover input[type="text"] {
	border: none;
}
.form--search-popup .form__cover input[type="submit"] {
	position: static;
	display: block;
	margin: 0;
	width: 100%;
	background-color: #000;
}
.toggle--search {
	display: inline-block;
	padding: 10px;
}
.toggle--search .icn-txt, .cart .icn-txt, .login-account .icn-txt {
	display: none;
}
.cart {
	margin-top: 5px;
}
.cart > a {
	padding: 10px;
	margin: 0;
}
.cart-is-active .dropsection {
	top: auto;
	position: fixed;
}
.cart-detail {
	min-width: inherit;
}
.cartdetail__footer {
	padding: 10px;
}
.login-account {
	margin: 5px 0 0 0;
}
.login-account > a {
	padding: 10px;
	margin: 0;
	display: inline-block;
}
.yk-slides .slick-arrow {
	display: none !important;
}
.shops .item-yk {
	border: none;
	padding: 10px;
}
.item-yk-head-lable {
	right: 10px;
}
.item-yk .item-yk-head-title {
	white-space: normal;
}/*
.banners {
	height: auto;
	position: relative;
	vertical-align: top;
	width: auto;
}
.banners .banners_left, .banners .banners_right {
	display: block;
	height: inherit;
	overflow: hidden;
	padding-bottom: inherit;
	position: relative;
	width: auto;
}
.banners .banners_left .banners_img, .banners .banners_right .banners_img {
	float: none;
	margin: 0;
}*/
.fetured-slider .fetured-item {
	border: none;
	padding: 10px 10px;
}
.featured-product, .featured-desc {
	display: block;
}
.featured-product {
	width: auto;
}
.section-head {
	margin: 0;
	padding: 10px 0;
}
.section-head .section_action {
	display: inline-block;
	float: none;
	vertical-align: bottom;
}
.section-head .section_action a {
	padding: 5px 8px;
}
.ftshops .ftshops_item_head_right {
	text-align: left;
}
/*footer*/
.subscription {
	margin: 10px 0;
	padding: 10px;
}
.sub-form {
	margin-bottom: 10px;
	display: table;
	width: 100%;
}
.sub-form input[type="submit"] {
	max-width: 100px;
	padding: 5px 15px;
}
.sub-form input[type="text"] {
	width: calc(100% - 97px);
}									
.bottom-footer .fixed-container {
	padding: 0;
}
/*listing page*/
.right-panel {
	padding: 10px;
}
.right_panel_head_right {
	float: none;
	text-align: left;
	margin: 10px 0;
}
.right_panel_head_right .link__filter {
	display: inline-block !important;
}
.sort-by li {
	display: block;
	margin: 3px 0;
}
body.filter__show .section__filter {
	opacity: 1;
	transform: translate(0px, 0px);
}
.section__filter {
	bottom: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	left: 0;
	opacity: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	transform: translate(-100%, 0px);
	transition: all 300ms ease 0s;
	width: 260px;
	z-index: 111;
	padding: 10px;
}
/*login*/
.login-wrapper, .login-wrapper .form-side, .login-wrapper .add-side {
	display: block;
	width: auto;
}
.login-wrapper .add-side {
	padding: 12px 20px 237px;
}
.login-wrapper .form-side {
	padding: 20px;
}
/**/
.widgets-heading {
	position: relative;
}
.widgets-heading:after {
	content: "+";
	padding-left: 5px;
}
.widgets-heading.active:after {
	content: "-";
}
.toggle-target {
	display: none;
}
/**/
.banner-shop img {
}
.abt-shops {
	padding: 10px;
}
.abt-shops .ftshops_logo {
	float: none;
	margin: 10px 0;
	display: block;
	text-align: center;
}
.abt-shops .ftshops_detail {
	margin: 0;
}
.shop-owner {
	padding: 10px;
}
.shop-links {
	text-align: left;
}
.shop-links li {
	margin: 0px;
	padding: 10px;
	display: block;
}
.testimonial-blocks {
	padding: 15px;
}
.testimonial-blocks .from {
	padding-right: 0;
	text-align: left;
	margin-bottom: 20px;
}
.testimonial-blocks .from .avatar {
	float: none;
}
.table {
	display: table;
	overflow-x: auto;
}
.table td, .table th {
/*white-space: pre-wrap;*/
}
.panel--centered .box--tabled {
	padding: 20px;
}
.dropdown__target {
	position: fixed;
	top: 0;
	overflow-x: auto;
	height: 100%;
}
.panel__right--full {
	width: 100%;
}
.listing--items li {
	padding: 0 10px 0 0;
	width: 38%;
}
.scroller--items.align--right {
	margin: 15px 0 0;
	text-align: left !important;
}
.scroller--items {
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.listing--items li .item__link span {
	white-space: normal;
}
.section--info .section__body .box {
	padding: 0;
}
.cols--group {
	padding-top: 10px;
}
.cols--group .box {
	padding: 10px;
}
.cols--group .box__body {
	padding: 10px 0 0;
}
.box.box--space {
	padding: 10px;
}
.media > li .grid--second {
	width: auto;
}
.dashboard-switch {
	background: #fff;
	padding: 10px 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);/*border-bottom: solid 1px var(--border-color);*/
}
.statistics__box {
	min-height: inherit;
}
.mobile-switch {
	margin: 0 auto;
	border-radius: 2px;
	text-align: center;
	border: solid 1px var(--border-color);
	width: auto;
	display: table;
}
.mobile-switch a {
	padding: 10px;
	display: table-cell;
	vertical-align: top;
	width: 33%;
	text-align: center;
	text-transform: uppercase;
	color: var(--txt-color-light);
}
.mobile-switch a.is-active {
	background: var(--border-color);
	color: #000;
}
.dashboard {
	padding-top: 0;
}
.dashboard .breadcrumb {
	margin-top: 15px;
}
.top-space {
	padding-top: 0;
}
.balanceinfo {
	float: none;
	margin: 0 0 15px;
}
.boxcontainer .box--gray {
	margin: 10px 0 0;
	padding: 20px 20px 20px 60px;
}
.boxcontainer .box--gray .fa {
	color: #ffffff;
	font-size: 2em;
	left: 20px;
	position: absolute;
	top: 20px;
}
.page-banner .banner-txt h1 {
	font-size: 2.5em;
}
.page-banner .banner-txt h4 {
	font-size: 1.5em;
}
 .form--search-popup .field__cover {
        width: 100%;
  }
}

/*media*/
 @media only screen and (max-width: 767px) {
.hide--mobile {
	display: none !important;
}
.f-links h3 {
	position: relative;
}
.f-links h3:before {
	background: #44596B;
	content: '';
	height: 2px;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 14px;
}
.f-links h3:after {
	background: #44596B;
	content: '';
	height: 2px;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 14px;
}
.f-links h3.active:before {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.f-links ul {
	display: none;
}
.panel--centered .box--tabled {
	padding: 10px;
}
.panel--centered .box {
}
.box--tabled .box__cell {
	display: block;
	vertical-align: top;
	width: 100%;
	padding: 0;
}
.box--tabled .box__cell:last-child {
	width: 100%;
}
.box--tabled .box__cell:first-child {
	border-right: none;
	border-bottom: solid 1px var(--border-color);
}
.box--tabled .box__cell .listing--icons {
	padding: 0;
}
.panel__head .panel__head_action {
	float: none;
}
.panel__head .links--inline {
	float: none;
	display: block;
}
.panel__head .links--inline li {
	padding: 0 5px 0 0;
}
.cols--group .col__left, .cols--group .col__right {
	clear: none;
	float: none;
	width: auto;
}
.cols--group .box__head .group--btns .btn, .group--btns .btn {
	margin: 5px 5px;
}
.table {
	white-space: nowrap;
	display: block;
}
.table .caption--td {
	display: block;
}
.grid--onethird > li {
	float: none;
	width: auto;
}
.shops-detail .item-yk_rating {
	margin: 0;
}
.grids--container .cellright {
	border: none;
	margin-left: 0;
	padding: 10px;
	min-height: inherit;
	margin-bottom: 5px;
}
.grids--container .cellright {
}
.listing-products--list .item-yk {
	display: block;
}
.listing-products--list .item-yk-head, .listing-products--list .item-yk_body, .listing-products--list .item-yk_footer {
	display: block;
	width: auto;
}
.listing-products--list .item-yk .collections-ui {
	position: static;
}
.listing-products--list .item-yk .product_price {
	font-size: 1.1em;
}
.grids--profile .grid__right {
	margin-bottom: 10px;
}
.grids--profile .grid__right, .grids--profile .grid__left {
	float: none;
	width: auto;
}
.cg-nav-wrapper ul li {
	display: block;
	width: auto;
}
.short-links > ul > li {
	display: none;
}
.shop-bar {
	padding: 0;
}
.grids--offset {
	margin: 0;
}
.grids--offset .grid-layout {
	padding: 10px 0;
}
.grids--offset .grid-layout .info--order {
	text-align: left;
}
.product-options li {
	padding: 10px;
	margin: 10px 0;
	text-align: center;
}
.product-options li .icn {
	font-size: 2em;
	float: none;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.product-options li p {
	font-size: 1.2em;
}
.auto-renew {
	float: none;
}
.g-recaptcha {
	transform: scale(0.8);
}
.section-head .section_heading {
	font-size: 1.5em;
}
.fixed__panel .stick {
	width: auto;
}
/**/
.upperContent-footer p {
	display: none;
}
/**/
.group--social-onehalf .btn{ padding:10px 0;}
.group--social-onehalf .fb-color{ margin-right:0;}
.tabs--offset {
	margin: 0 -10px 40px;
	margin-bottom: 20px;
}
.form input[type="submit"] + input[type="button"]{ margin-top:10px;}																	
.site-map-list > ul > li{ width: 49%;}
.upperContent-footer ul li {
	display: block;
	width: auto;
	border: none;
	border-bottom: solid 1px var(--border-color);
}
}
